.monitor-container {
    display: flex;
    align-items: center;

    .icon {
        cursor: pointer;
    }

    .time-container {
        font-size: 1rem;
        vertical-align: middle;
        padding: 0 0.6rem;

        .current-time {
        }

        .total-time {
        }
    }
}
