@import "src/assets/css/mixin";
@import "src/assets/css/var";

.toast {
	background-color: rgba(0, 0, 0, 0.7);
	z-index: $top-layer;
	font-size: 0.8rem;
	color: #ffffff;
	padding: 0.5rem 0.625rem;
	border-radius: 0.125rem;
	animation: show 0.3s ease;
}

.leftTop {
	@include position(absolute, $toast-gap, auto, auto, $toast-gap);
}

.rightTop {
	@include position(absolute, $toast-gap, $toast-gap, auto, auto);
}

.leftBottom {
	@include position(absolute, auto, auto, $toast-gap+$toast-gap, $toast-gap);
}

.rightBottom {
	@include position(absolute, auto, $toast-gap, $toast-gap+$toast-gap, auto);
}

.center {
	@include position(absolute, 50%, auto, auto, 50%);
	transform: translate(-50%, -50%);
}

