@mixin wh($w,$h) {
	width: $w;
	height: $h;
}

@mixin position($type,$top:auto,$right:auto,$bottom:auto,$left:auto) {
	position: $type;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin multifunction-item {
	padding: 0 0 1.5rem 0;
	background-color: transparent;
	transition: all 0.5s ease;
	@include position(absolute, auto, auto, 1.5rem, auto);
	transform: translateX(-50%);
}


@keyframes show {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

